body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d3f2f3;
}


.icono{
    margin-left: 5rem;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    background-color: white;
}

.titulo {
    font-size: 24px;
    padding: 10px;
    margin-left: 6rem;
}

.cuerpo {
    padding: 10px;
}

.pie {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}
